@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

body {
    background-color: whitesmoke;
    background: url('image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    
}


header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: skyblue;
    font-family: Montserrat;
    color: black;
}

main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}


.container {
    
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    gap: 10px;
    background-color: skyblue;
    opacity: 0.9;
    border: none;
    width: 320px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    
}

.title {
    margin-top: 20px;
}

h2 {
    color: black;
    
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}


input {
    width: 230px;
    height: 40px;
    background-color: whitesmoke;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    color: navy;
    padding-left: 10px;
    
    
}


input:focus {
    
    outline: none;
}


select {
    width: 50px;
    height: 40px;
    margin-left: -2px;
    background-color: maroon;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-family: Ubuntu;
    font-size: 20px;
}


select:focus {
    outline: none;
}



.btn-container {
    
    margin-top: 50px;
}

button {
    
    padding: 10px;
    background-color: maroon;
    border: none;
    border-radius: 5px;
    font-family: Ubuntu;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.25s;
}


button:hover {
    opacity: 0.7;
}


@media(max-width: 320px){

.container {
    
    
    width: 270px;
    height: 280px;
    border-radius: 10px;
    padding: 10px;
    
}

input {
    width: 200px;
    height: 40px;
    
}


h1 {
    
   font-size: 25px; 
    
}
}